body {
  background-image: url(/src/assets/bgg.jpg);
  background-size: cover;
  background-position: right;
  height: auto;
}

header li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

header li a {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: 1px solid  rgb(255, 255, 254);
  padding: 8px;
  height: 25px;
  border-radius: 20px;
}

.Flag {
  display: flex;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.country-details li {
  border: 1px solid rgba(191, 191, 243, 0.349);
  height: 60px;
  border-radius: 3px;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-color: #2c425783;
  color: aliceblue;
  margin-bottom: 2px;
  padding: 10px;
  width: 95%;
}

.country-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.view {
  width: 40%;
  display: flex;
  height: 50px;
  text-decoration: none;
  align-items: center;
  background-color: #33b249;
  color: aliceblue;
  border: 1px solid rgba(51, 28, 28, 0.192);
  border-radius: 8px;
  text-align: center;
  margin-top: 5px;
  margin-left: 28%;
}

.detail {
  color: #33b249;
}
